<section class="col-md-12 programs">
    <form action="#">
        <div class="form-group row">
            <div class="col-md-4">
                <label for="search">Votre recherche</label>
                <input type="text" id="search" name="search" class="form-control" placeholder="{{placeholder}}" ng-model="searchProgram">
            </div>
            <div class="col-md-4">
                <label for="motClef">Mot clef programme</label>
                <input type="text" id="motClef" name="motClef" class="form-control" placeholder="{{placeholderFilterProgram}}" ng-model="searchProgramFilter" ng-change="filterSearch();">
            </div>
        </div>
    </form>

    <div ng-show="loader">
        <span ng-hide="loaded">Chargement ...</span>
        <span ng-show="loaded">Aucun résultat</span>
    </div>


    <table class="table table-bordered table-striped" ng-hide="loader">
        <colgroup>
            <col width="33.333%">
            <col width="33.333%">
            <col width="33.333%">
        </colgroup>

        <thead>
        <tr>
            <td>
                <a href="#/" ng-click="sortTitle(); sortReverse = !sortReverse">
                    Titre
                </a>
            </td>
            <td>
                <a href="#/" ng-click="sortProgram(); sortReverse = !sortReverse">
                    Programme
                </a>
            </td>
            <td>
                <a href="#/" ng-click="sortCreated(); sortReverse = !sortReverse">
                    Date de création
                </a>
            </td>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="program in programs | orderBy:sortType:sortReverse | filter:searchProgram | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
            <td>{{ program.title }}</td>
            <td>{{ program.program }}</td>
            <td>{{ program.created |date : 'dd MM yyyy H:mm:ss'}}</td>
        </tr>
        </tbody>

    </table>

    <pagination data-boundary-links="true" data-num-pages="noOfPages" data-current-page="currentPage" max-size="maxSize" data-previous-text="&laquo;" data-next-text="&raquo;"></pagination>

</section>